    
@font-face {
  font-family: 'marianne-bold';
  src: url('./fonts/marianne-bold-webfont.woff2') format('woff2'),
       url('./fonts/marianne-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'marianne-regular';
  src: url('./fonts/marianne-regular-webfont.woff2') format('woff2'),
       url('./fonts/marianne-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body
{
    font-family: 'marianne-regular';
    padding: 3em;
}

.column {
      max-width: 600px;
    }

.bg-image {
  background-image: url("./8110668.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
